node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
//// 
 <Stack.Screen name={"Welcome"} component={Welcome} />
        <Stack.Screen name={"FormLogin"} component={FormLogin} />
        <Stack.Screen name={"FormRegister"} component={FormRegister} />
